/**
 * Page name
 * Copyright 2017
 * Author
 * Licensed 
 */
/*------------------------------------*\
    Content
\*------------------------------------*/
/**
 * Content............You're reading it!
 * Globel...............Set common style
 * Layout...........Set grid
 * Components...........Set components styles
 */


/*------------------------------------*\
    Globel
\*------------------------------------*/
*{
	box-sizing: border-box;
	position: relative;
}
html,body{
	font-family: 微軟正黑體;
}
h1,h2,h3,h4,h5,h6,p{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #333;
}

/*------------------------------------*\
    Layout
\*------------------------------------*/
.container{
	margin: 0 auto;
	max-width: 1200px;
	height: 100%;
	padding-left: 16px;
	padding-right: 16px;
}
.row{
	margin: 0 -16px;
	padding-bottom: 50px;

}
.row:after{
	content: "";
	display: block;
	clear: both;
}
.col-1-2,.col-1-4,.col-1-3{
	float: left;
	padding: 0 16px;
}
.col-1-2{
	width: 50%;
}
.col-1-4{
	width: 25%;
}
.col-1-3{
	width: 33.33333%;
}
@media (max-width: 768px){
	.col-md-1-1{
		width: 100%;
	}
	.col-md-1-2{
		width: 50%;
	}
}
@media (max-width: 576px){
	.col-sm-1-1{
		width: 100%;
	}
}

.header{
	position: fixed;
	z-index: 100;
	width: 100%;
}


/*------------------------------------*\
    Components
\*------------------------------------*/

/* navbar */
.navbar{
	height: 64px;
	background-color: rgba(15,76,129,0.9);
	/*background-color: #194052;*/
}
.logo{
	display: inline-block;
	width: 160px;
	height: 64px;
	background-image: url('../images/common/logo1.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	white-space: nowrap;
	overflow: hidden;
	text-indent: 100%;
}
.navbar .menu{
	float: right;
}
@media (max-width: 768px){
	.navbar .menu{
		visibility: hidden;
		opacity: 0;
		transition: all 0.3s;

		/*display: none;*/

		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 10;
		background-color: rgba(15,76,129,1);
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	#popup-menu:target{
		/*display: block;*/
		visibility: visible;
		opacity: 1;
	}
}


.menu-toggle{
	display: none;
	width: 48px;
	height: 48px;
	float: right;
	margin-top: 8px;
	padding: 12px 8px;
}
.menu-toggle span{
	display: block;
	height: 2px;
	background-color: #d5a26f;
	margin-bottom: 8px;
}
@media (max-width: 768px){
	.menu-toggle{
		display: block;
	}
}
.navbar .menu .menu-item{
	float: left;
}
.navbar .menu .menu-item a{
	display: inline-block;
	color: #fefefe;
	line-height: 24px;
	padding: 20px 16px;
	transition: all 0.3s;
}
.navbar .menu .menu-item a:hover{
	color: #d5a26f;
}

@media (max-width: 768px){
	.navbar .menu .close-btn{
		display: block;
		width: 48px;
		height: 48px;
		border: 1px solid #d5a26f;
		padding: 8px;

		position: absolute;
		top: 8px;
		right: 16px;

	}
	.navbar .menu .close-btn span{
		display: block;
		width: 40px;
		height: 2px;
		background-color: #d5a26f;
		
		position: absolute;
		left: 50%;
		top: 50%;
		
	}

	/*.navbar .menu .close-btn span:first-child{
		
	}*/

	.navbar .menu .close-btn span:nth-child(1){
		transform: translate(-50%,-50%) rotate(45deg);
	}

	.navbar .menu .close-btn span:last-child{
		transform: translate(-50%,-50%) rotate(-45deg);
	}

}

/* hero */
.hero{
	padding-top: 150px;
	padding-bottom: 150px;
}
@media (max-width: 768px){
	.hero{
		padding-top: 80px;
		padding-bottom: 80px;
	}	
}
.hero-bgc-grey{
	background-color: #e0e7e9;
}
.hero-bgc-white{
	background-color: #fefefe;
}

/* jumbotron */
.jumbotron{
	background-image: url('../images/bg/bg7.jpg');
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

	padding-top: 224px;
	padding-bottom: 160px;
}
@media (max-width: 768px){
	.jumbotron{
		padding-top: 144px;
		padding-bottom: 80px;
		background-size: contain;
		background-size: auto 80%;
		/*height: auto;*/
	}
}
.jumbotron .logo-image{
	width: 320px;
	height: 320px;
	margin: 0 auto;
	background-image: url('../images/common/logo1.png');
	background-position: bottom;
	background-size: contain;
	/*opacity:0.6;*/
	background-repeat: no-repeat;

}
@media (max-width: 768px){
	.jumbotron .logo-image{
		width: 200px;
		height: 200px;
	}	
}
.jumbotron .lg-heading{
	font-size: 64px;
	text-align: center;
	color: #fff;
}
.jumbotron .description{
	text-align: center;
	color: #fefefe;
	line-height: 32px;
	margin-bottom: 32px;
}

/* mask */
.mask-dark{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}

/* btns */
.btn{
	display: inline-block;
	padding: 4px 16px;
	font-size: 16px;
	line-height: 24px;
	border-radius: 4px;
	transition: all 0.3s;
}
.btn-lg{
	padding: 8px 32px;
}
.btn-primary{
	background-color: #d5a26f;
	border: 1px solid #d5a26f;
	color: #fefefe;
}
.btn-primary:hover{
	background-color: #b2875c;
	border: 1px solid #b2875c;
}
.btn-secondary{
	border: 1px solid #d5a26f;
	color: #d5a26f;
}
.btn-secondary:hover{
	color: #fefefe;
	background-color: #d5a26f;
}
.btn-center{
	text-align: center;
}
.btn-center .btn{
	margin-right: 12px;
	margin-left: 12px;
}
@media (max-width: 576px){
	.btn-center .btn{
		display: inline-block;
		margin-bottom: 24px;
	}
	.btn-center .btn:last-child{
		margin-bottom: 0px;
	}
}
/* section-intro */
.section-intro{
	text-align: center;
	margin-bottom: 40px;
}
.section-intro .title{
	font-size: 48px;
	color: #333;
	margin-bottom: 24px;
}
.section-intro .description{
	font-size: 16px;
	line-height: 32px;
	color: #333;
	max-width: 400px;
	margin: 0 auto;
}
@media (max-width: 768px){
	.section-intro .title{
		font-size: 32px;
	}	
}

/* image-container */
.image-container{
	width: 100%;
	display: block;
}
.image-container:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 75%;
}
.image-container .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* image-container1 */
.image-container1{
	width: 100%;
	display: block;
}
.image-container1:before{
	content: "";
	display: block;
	width: 100%;
	padding-top: 75%;
}
.image-container1 .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/* image-container2 */
.image-container2{
	width: 100%;
	display: block;
}
.image-container2:before{
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 75%;
}
.image-container2 .image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

/* about-preview */
.about-preview .title{
	font-size: 32px;
	margin-bottom: 24px;
	margin-top: 80px;
	color: #333;
}
@media (max-width: 992px){
	.about-preview .title{
		margin-top: 0px;
	}
}
@media (max-width: 768px){
	.about-preview{
		margin-bottom: 48px;
	}
	.about-preview .title{
		margin-top: 0px;
	}	
}
.about-preview .description{
	color: #333;
	line-height: 32px;
	margin-bottom: 24px;
}

/* service-item */
.service-item .preview{
	padding-top: 16px;
}
@media (max-width: 768px){
	.service-item .preview{
		padding-bottom: 48px;
	}
}
.service-item .title{
	font-size: 24px;
	margin-bottom: 8px;
	color: #333;
}
.service-item .subtitle{
	color: #d5a26f;
	font-size: 14px;
	margin-bottom: 16px;
}
.service-item .description{
	color: #333;
	line-height: 24px;
	margin-bottom: 24px;
	text-align: justify;
	height: 72px;
	overflow: hidden;
}

/* reservation */
.reservation{
	background-image: url("../images/bg/bg8.jpg");
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.reservation .section-intro .title{
	color: #fefefe;
}
.reservation .section-intro .description{
	color: #fefefe;
}

/* menu-list */
.menu-list{
	margin-bottom: 64px;
	background-color: #e0e7e9;
}
@media (max-width: 768px){
	.menu-list{
		margin-bottom: 48px;
	}
}
.menu-list .title-bar{
	margin-bottom: 24px;
}
.menu-list .title-bar:after{
	content: '';
	display: block;
	clear: both;
}
.menu-list .title-bar .title{
	line-height: 40px;
	font-size: 24px;
	color: #d5a26f;
	float: left;
	padding-left: 16px;
}
.menu-list .title-bar .title:after{
	content: "";
	position: absolute;
	width: 4px;
	height: 24px;
	background-color: #d5a26f;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
}
.menu-list .title-bar .btn{
	float: right;
	padding-top: 8px;
	padding-bottom: 8px;
}
@media (max-width: 576px){
	.menu-list .title-bar .btn{
		display: none;
	}
}
@media (max-width: 768px){
	.menu-list .list-item{
		margin-bottom: 48px;
	}
}
.menu-list .list-item .image-container{
	margin-bottom: 16px;
	overflow: hidden;
}
.menu-list .list-item .image-container:before{
	padding-top: 100%;
}
.menu-list .list-item .title{
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 8px;
}
.menu-list .list-item .title a{
	color: #333333;
}
.menu-list .list-item .subtitle{
	color: #d5a26f;
	font-size: 14px;
}

/* contact */
.contact-info{
	padding-top: 40px;
}
.contact-info .info-item{
	margin-bottom: 24px;
}
.contact-info .info-item .title{
	margin-bottom: 16px;
	color: #d5a26f;
}
.contact-info .info-item .title span{
	display: inline-block;
	border-bottom: 2px solid #d5a26f;
	line-height: 36px;
}
.contact-info .info-item .info{
	line-height: 32px;
}
.contact .map-container{
	width: 100%;
	padding-top: 75%;
}
.contact .map-container iframe{
	position: absolute;
	top: 0;
	left: 0;
}


/* footer */
.footer{
	background-image: url(../images/bg/bg5.jpg);
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
}
.footer:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.footer .logo{
	width: 240px;
	height: 240px;
	display: block;
	background-image: url('../images/common/logo1.png');
	background-position: center;
	background-size: contain;
	margin: 0 auto;
}
@media (max-width: 576px){
	.footer .logo{
		width: 200px;
		height: 200px;
	}
}
.footer .copyright{
	background-color: rgba(15,76,129,0.9);
	padding: 16px 0;
	line-height: 24px;
	color: #ddd;
	text-align: center;
}
.footer .menu{
	display: flex;
	justify-content: center;
}
.footer .menu .menu-item a{
	color: #fefefe;
	padding: 24px 24px;
	line-height: 24px;
	transition: all 0.3s;
}
@media (max-width: 768px){
	.footer .menu .menu-item a{
		padding: 24px 8px;
	}
}
.footer .menu .menu-item a:hover{
	color: #d5a26f;
}


.visible-mobile{
	display: none;
}
@media (max-width: 576px){
	.visible-mobile{
		display: block;
	}
}